body {
  margin: 0;
  overflow-x: auto !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

$squareSize: 48px;
$gameContainerWidth: $squareSize * 24;
$boardWidth: $squareSize * 18 - 17;

.segment-grid-container {
  border: none;
  box-shadow: none;
}

.login-segment {
  margin: 0 auto;
  margin-top: 50px; 
  width: 700px;
  padding: 20px;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 7px;
}

.game-container {
  display: inline-block;
  height: 599px;
  width: $gameContainerWidth;
  overflow-x: none;
  border-style: solid;
  border-color: darkslateblue;
}

.turn-status-ribbon {
  width: $gameContainerWidth - 6;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(22, 104, 89);
}

.board {
}

.board-row {
  width: $boardWidth;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: $squareSize;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $squareSize;
  background-repeat: no-repeat;
}

.square:focus {
  outline: navy;
}

.dark-square {
  background-color: darkcyan;
}

.light-square {
  background-color: darkgray;
}

.highlighted-square {
  border-style: solid;
  border-width: 2px;
}

.highlighted-square-red {
  @extend .highlighted-square;
  background-color: crimson;
}

.highlighted-square-green {
  @extend .highlighted-square;
  background-color: lightgreen;
}

.highlighted-square-in-ranged-attack {
  opacity: 0.5;
}

// health bar styles.. move out into separate file.. where does react comp css go?
// probably in a file with the component?...???
.health-box {
  display: block;
  left: -20px;
  position: relative;
  background-color: red;
  height: 30px;
  width: 4px;
  margin: 0 auto;
  border: solid 0.5px #aaa;
}

.remaining-health {
  display: block;
  left: 0.5px;
  bottom: 0.5px;
  position: absolute;
  background-color: #007f00;
  width: 3px;
}

.pointer-icon {
  cursor: pointer;
}

.boots-icon {
  cursor: url(./resources/mouseHoverIcons/boots.cur), auto;
}

.sword-icon {
  cursor: url(./resources/mouseHoverIcons/sword.cur), auto;
}

.bow-icon {
  cursor: url(./resources/mouseHoverIcons/bow.cur), auto;
}
